[Unit]
Description=Application %i
After=display-server.target
After=xresources.service

[Service]
ExecStart=/usr/bin/env %i
Restart=on-failure

[Install]
WantedBy=display-server.target
