[Unit]
Description=Awesome window manager
Documentation=man:awesome(1)
After=display-server.target
Requires=display-server.target

[Service]
ExecStart=/usr/bin/awesome
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
Also=xorg-server.target
