[Unit]
Description=Awesome window manager
Documentation=man:awesome(1)
PartOf=display-server.target
After=display-server.target

[Service]
ExecStart=/usr/bin/awesome

[Install]
WantedBy=default.target
Alias=window-manager.target
Also=xorg-server.target
