[Unit]
Description=D-Bus User Message Bus Socket
Documentation=man:dbus-daemon(1)

[Socket]
ListenStream=%t/bus

[Install]
WantedBy=default.target
Also=dbus.service
