[Unit]
Description=Hexchat
Documentation=man:hexchat(1)
After=display-server.target
After=xresources.service

[Service]
ExecStart=/usr/bin/hexchat --minimize=2
Restart=on-failure

[Install]
WantedBy=display-server.target
