[Unit]
Description=Hexchat
Documentation=man:hexchat(1)
After=display-server.target

[Service]
ExecStart=/usr/bin/hexchat --minimize=2

[Install]
WantedBy=display-server.target
