[Unit]
Description=Insync
Documentation=man:insync(1)
PartOf=window-manager.target
After=window-manager.target
After=xresources.service

[Service]
ExecStart=/usr/bin/insync start --no-daemon

[Install]
WantedBy=window-manager.target
