[Unit]
Description=User keymaps
Documentation=man:xmodmap(1)
Requires=display-manager.target

[Service]
ExecStart=/usr/bin/xmodmap %h/.Xmodmap
RemainAfterExit=yes

[Install]
WantedBy=display-manager.target
