[Unit]
Description=Run ruby /usr/local/bin/%i

[Service]
ExecStart=/bin/sh -c "`%h/.rbenv/bin/rbenv which ruby` /usr/local/bin/%i"

[Install]
WantedBy=default.target
