[Unit]
Description=tmuxinator start %i
Documentation=man:tmux(1)
After=ssh-agent.service

[Service]
ExecStart=/usr/bin/tmuxinator start %i
ExecStop=/usr/bin/tmux kill-session -t %i
RemainAfterExit=yes

[Install]
WantedBy=default.target
