[Unit]
Description=rxvt-unicode (urxvt) daemon
Documentation=man:urxvtd(1) man:urxvt(1)
Requires=urxvtd.socket
PartOf=xresources.service

[Service]
ExecStart=/usr/bin/urxvtd -o -q
Environment=RXVT_SOCKET=%t/urxvtd-%H

[Install]
WantedBy=display-server.service
