[Unit]
Description=Window manager
Requires=xorg@0.service
Requires=dbus.socket
After=dbus.socket
After=xorg@0.service

[Install]
WantedBy=default.target
