[Unit]
Description=Xorg server at display %i
Documentation=man:xorg(1)
Requires=xorg@%i.socket
After=xorg@%i.socket

[Service]
SuccessExitStatus=0 1
ExecStart=/usr/bin/Xorg :%i -nolisten tcp -noreset -verbose 2 "vt${XDG_VTNR}"
