[Unit]
Description=X resources default
Documentation=man:xrdb(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/xrdb -I%h/.config/Xresources/Xresources.d %h/.config/Xresources/default
RemainAfterExit=yes

[Install]
WantedBy=display-server.target
