[Unit]
Description=Start xscreensaver daemon
Documentation=man:xscreensaver(1)
PartOf=xresources.service

[Service]
ExecStart=/usr/bin/xscreensaver -no-splash
Restart=on-failure

[Install]
WantedBy=display-server.target
